/* ページ全体に背景を設定 */
body{
	background-color:#DCDCDC;
	color:#333;
	font-family: Arial, Meiryo;
	font-size:15px;
	line-height:25px;
	text-align:center;
	margin: 0;
	padding: 0px 0px 0px 0px;　
}
/* ヘッダー */
#header{
	color:#FFF;
	font-family: Arial, Meiryo;
	font-size:18px;
	height:100px;
	overflow:hidden;
	padding:20px 20px 20px 20px;
	position:relative;
	text-align:center;
	text-shadow:0px 0px 0.5px #000000;
	margin-bottom:5px;
}
/* 見出しの飾り */
#header h1{
	font-weight:normal;
	background-color: #FFF;
	color:#000000;
	font-size:30px;
	padding:5px 0 5px 0;
}
#header h2{
	font-weight:normal;
	background-color: #FFF;
	color:#000000;
	font-size:20px;
	padding:2px 0 2px 0;
}

/* #sideで簡易サイドメニュー */
#main{
	background-color:#FFF;
	float:left;
	width:600px;
    margin:0px; padding:10px;
}
#side{
	background-color:#FFF;
    width:220px;
    float:right;
    margin:0px; padding:0px;
}
#wrap{
	background:#FFF;
	margin-left:auto;
	margin-right:auto;
	width:850px;
}


/* センタリング */
.centering{
    font-size: larger;
    background-color: #DAA520;
    text-decoration: underline;
    text-align: center;
}

/* 強調 */
.kyocho{
    color: #800080;
    font-weight: bold;
    font-size: larger;
}

/* 四隅にマージンを取りセンタリング、色を変更 */
#kinkyo{
    background-color: #EEE8AA;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-width: 1px;
    border-style: dotted;
    border-color: orange;
}

.container{
	width:850px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
	
.container h2{
	font-size:18px;
	background-color:#F5F5F5;
	padding:7px 0 5px 10px;
	border-left:solid 5px #333;
	border-bottom:solid 1px #333;
	margin-top:15px;
	margin-bottom:7px;
}
